body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 40px;
    line-height: 1.6;
}

nav {
    padding: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header {
    text-align: center;
    padding: 40px 0;
}

h1 {
    font-size: 45px;
}

h2 {
    margin-top: 40px;
}

section {
    margin-bottom: 30px;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
.profile {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}
.project-card {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
    max-width: 500px;
}

.project-card h3 {
    margin-top: 0;
}
@media (max-width: 600px) {

    body {
        padding: 0 20px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    h1 {
        font-size: 32px;
    }

    .project-card {
        width: 100%;
        box-sizing: border-box;
    }

}